<div class="container" style="margin-bottom: 20px">
  <h1>CORRECTION DETAILLEE</h1>
  <div class="col-md-12" ng-repeat="item in correction.selectedList">
    <div class="col-md-6" style="margin: 10px 0"><h4>Reponse</h4></div>
    <div class="col-md-6" style="margin: 10px 0"><h4>Resultat</h4></div>
    <div class="col-md-6" style="margin: 10px 0;" >{{item.label}}</div>
    <div class="col-md-6">
      <div class="col-md-12" ng-repeat="reponse in item.reponse">{{reponse}}</div>
    </div>
    <div class="col-md-12"><h4 style="text-align: left">Details:</h4></div>
    <div class="col-md-12" ng-repeat="justification in item.justification">{{justification}}</div>
    <hr class="col-md-12">
  </div>
  <div style="text-align:center"><button ng-click="correction.reset()" style="margin:auto">DEBUT</button></div>
</div>